<div class="content-heading">
   <div>Add a new Product</div>
</div>
<div class="row">
   <div class="col-xl-12">
      <div class="col-md-6">
        <!-- START card-->
        <div class="card card-default">
            <div class="card-header">Create a new Product</div>
            <div class="card-body">
                <%= render 'form' %>
            </div>
        </div>
        <!-- END card-->
    </div>      
   </div>
</div>