<% if flash.any? %>
    <% flash.each do |type, msg| %>
        <div class="alert <% if type == 'notice' %> alert-success <% else %> alert-warning <% end %>  alert-dismissible fade show" role="alert">
            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <%= msg %>
        </div>
    <% end %>
<% end %>